* {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #555555;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

/* #NiceAndSimple: Button - http://codepen.io/tomsoderlund/pen/qqyzqp */
button,
.button {
  position: relative;
  background-color: dodgerblue;
  color: white;
  border-radius: 0.2em;
  border: none;
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  outline: none;
  padding: 0.6em;
  margin: 0.2em;
  transition: all 0.1s;
  /* min-width: 15em; */
}
button:focus:not(:disabled),
.button:focus:not(:disabled) {
  opacity: 0.8;
}
button:hover:not(:disabled),
.button:hover:not(:disabled) {
  opacity: 0.8;
  top: -0.1em;
  box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.2);
}
button:hover:active,
.button:hover:active {
  top: 0.1em;
  box-shadow: 0 0.02em 0.125em rgba(0, 0, 0, 0.4);
  transition: all 0.05s;
}
button:disabled,
.button:disabled {
  cursor: initial;
  background-color: silver;
}
a.button {
  text-decoration: none;
}


/* #NiceAndSimple: Input and Dropdown Menu - http://codepen.io/tomsoderlund/pen/GNBbWz */
input,
textarea,
select {
  background-color: white;
  color: inherit;
  outline: none;
  resize: none;
  box-shadow: inset 0 0.125em 0.125em rgba(0,0,0, 0.3);
  box-sizing: border-box;
  border-radius: 0.1em;
  border: 1px solid lightgray;
  font-family: inherit;
  font-size: inherit;
  padding: 0.6em;
  margin: 0.2em;
  /* min-width: 15em; */
}
input::placeholder,
textarea::placeholder {
  color: lightgray;
}
input:hover:not(:disabled):not(:focus),
.input-like:hover:not(:disabled):not(:focus),
textarea:hover:not(:disabled):not(:focus),
select:hover:not(:disabled):not(:focus) {
  border-color: silver;
}
input:focus,
.input-like:focus,
textarea:focus,
select:focus {
  border-color: darkgray;
  background-color: lightyellow;
}
input:read-only,
textarea:read-only {
  color: black;
  background-color: whitesmoke;
}
input:disabled,
.input-like:disabled,
textarea:disabled,
select:disabled {
  color: darkgray;
  background-color: whitesmoke;
}
